<h2>New Bookmark</h2>

<form action="/create_bookmark">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="url" placeholder="url">
  <input type="text" name="description" placeholder="description">
  <input type="submit">
</form>