<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <a href="<%= @url %>"><%= @name %></a>
        <small><%= @description %></small>
        <a href="/bookmarks/<%= @bookmark.id%>/edit">edit</a>
      </h1>
    </div>
  </div>
</div>

